.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050 !important;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 0 !important;
    background-color:#000}
.login100-form-title2 {
        font-family: Ubuntu-Bold;
        font-size: 26px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
      
        display: block;
      }